services:
    nginx:
        image: nginx:1.29.4
        volumes:
            - ./docker/configs/nginx/default.conf:/etc/nginx/conf.d/default.conf
            - ./public:/var/www/html/public
        ports:
            - "80:80"
        restart: always
        depends_on:
            - php
            - postgres
    php:
        build: ./docker
        restart: always
        depends_on:
            - postgres
        volumes:
            - ./docker/configs/php/php.ini:/usr/local/etc/php/conf.d/php.ini
            - .:/var/www/html
    postgres:
        image: postgres:17.7
        restart: always
        environment:
            - POSTGRES_DB=postgres
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
        ports:
            - "5432:5432"
        volumes:
            - postgres:/var/lib/postgresql/data

volumes:
    postgres:
